{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@stylexjs/babel-plugin",
      {
        "dev": true,
        "runtimeInjection": false,
        "genConditionalClasses": true,
        "treeshakeCompensation": true
      }
    ]
  ]
}
