@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

/* Light mode gradient */
body {
  @apply bg-linear-to-br from-gray-50 via-white to-gray-100;
}

/* Dark mode gradient */
html.dark body {
  @apply bg-linear-to-br from-gray-900 via-gray-800 to-gray-900;
} 

html, body {
  min-height: 100%;
}